.task-form-margin {
  margin-bottom: 16px;
}

.task-form-forgot {
  text-align: center;
}

.task-form {
  width: 100%
}

@media only screen and (max-width: 575px) {
  .form-container {
    box-shadow: none;
    min-width: 95%;
  }
}
